<b><i><u><center><font size="500"><font color="green"> login </font></font></center></u></i></b>

<p id="notice"><p align="center"><font color="blue"><%= notice %></p></font></p>
<i><b><a href="signup"<font size="50">new user??</b></i></a>

<%= form_for(@user,:url => "/valid") do |f| %>





  <div class="field">
    <%= f.label :Email  %>     :
    <br>
     <%= f.text_field:email,placeholder:"Enter your email" %>
  </div>
<br>
  <div class="field">
    <%= f.label :password%> :
    <br>
     <%= f.text_field :password,placeholder:"Enter your password" %>
  </div>
   <div class="actions">
   <%= f.submit "login" %>


  </div>
<% end %>
<style type="text/css">
body {
  background-color: grey;
}

</style>


