<b><i><u><center><font size="500"><font color="green"> welcome new user </font></font></center></u></i></b>



<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> Alert!!!!!!!</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<style type="text/css">
body {
  background-color: grey;
}

</style>
<p align="center">
<ul>
<i><b>Already registerd??</b></i>
  <li><a href="login"><font size="100">login</font></a></li>

</ul>
</p>


<br>
<br>
<%= form_for(@user) do |f| %>


  <div class="field">
    <%= f.label :uname  %>     :
    <br>
     <%= f.text_field:uname,placeholder:"Enter your user name" %>
  </div>

<br>
  <div class="field">
    <%= f.label :password%> :
    <br>
     <%= f.text_field:password,placeholder:"Enter your password" %>
  </div>
<br>
  <div class="field">
    <%= f.label :address%>  :
    <br>
     <%= f.text_field:address,placeholder:"Enter your address" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :email%>      :
    <br>
    <%= f.text_field:email,placeholder:"enter your email" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :phone_no  %>      :
    <br>
     <%= f.text_field:phno,placeholder:"Enter your Phone no" %>

  </div>
  </p>
  <br>


  <div class="actions">
   <%= f.submit "SIGN UP" %>
  </div>
<% end %>
<% end %>
